@font-face {
  font-family: 'Arcade';
  src: url('arcadeclassic.ttf') format('truetype');
}

h1 {
  font-family: 'Arcade';
  color: blue;
  text-align: center;
}

h1.body {
  font-family: 'Arcade';
  color: yellow;
  text-align: left;
}

h1.credit {
  font-family: 'Arcade';
  color: white;
  text-align: left;
}

body {
  background-color: black;
  font-family: 'Arcade';
  color: gray;
}

td.col1 {
  width: 155px;
}

td.col2 {
  width: 155px;
}

td.col3 {
  width: 155px;
}

td.status {
  text-align: right;
}

meter {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: gray;
  width:  500px;
  height: 25px;
}

meter::-moz-meter-bar {
  background: green;
}
